<div class="col-md-4">
  <div class="card mb-4 shadow-sm" data-id="<%= portfolio.id %>">

    <a href='<%= portfolio_show_path(portfolio) %>' class="my-image">
      <%= image_tag portfolio_img(portfolio.thumb_image, 'thumb'), width: '100%' %>
    </a>

    <div class="card">
      <p class="card-text">
        <span><%=link_to portfolio.title, portfolio_show_path(portfolio) %></span>
        <%= portfolio.subtitle %>
      </p>
    </div>

  </div>
</div>
