<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>"/>

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/blog_nav' %>

    <div class="my-blog">
      <h1 class="blog-title">My blog</h1>
      <p class="blog-description"> Blogs here </p>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </div>
    <hr>

    <main role="main" class="container">
      <div class="row">

        <%= yield %>

        <%= render 'shared/blog_sidebar' %>

      </div>

  <!--      footer-->
      <footer class="blog-footer">
        <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by
          <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
          <a href="#">Back to top</a>
        </p>
      </footer>

      <%= source_helper('blog') %>
    </main>
  </body>
</html>
